.bg-B7824E{
    background-color: $color-B7824E;
}
.bg-FFFAF2{
    background-color: $color-FFFAF2;
}
.bg-212121{
    background-color: $color-212121;
}
.bg-A8784A{
    background-color: $color-A8784A;
}
.bg-111111{
    background-color: $color-111111;
}
.bg-4B5563{
    background-color: $color-4B5563;
}
.bg-6B7280{
    background-color: $color-6B7280;
}
.bg-9CA3AF{
    background-color: $color-9CA3AF;
}


.text-B7824E{
    color: $color-B7824E;
}
.text-FFFAF2{
    color: $color-FFFAF2;
}
.text-212121{
    color: $color-212121;
}
.text-A8784A{
    color: $color-A8784A;
}
.text-111111{
    color: $color-111111;
}
.text-4B5563{
   color: $color-4B5563;
}
.text-6B7280{
    color: $color-6B7280;
}
.text-9CA3AF{
    color: $color-9CA3AF;
}

.font9{
    font-size:  9px;
}
.font10{
    font-size:  10px;
}
.font11{
    font-size:  11px;
}
.font12{
    font-size:  12px;
}
.font14{
    font-size:  14px;
}
.font16{
    font-size:  16px;
}
.font18{
    font-size:  18px;
}
.font20{
    font-size:  20px;
}
.font24{
    font-size:  24px;
}
.font27{
    font-size:  27px;
}
.font30{
    font-size:  30px;
}
.font36{
    font-size:  36px;
}
.font48{
    font-size:  48px;
}
.font60{
    font-size:  60px;
}
.font65{
    font-size:  65px;
}
.font72{
    font-size:  72px;
}
.font96{
    font-size:  96px;
}
.font100{
    font-size: 100px;
}


.leading15{
    line-height: 15px;
}
.leading16{
    line-height: 16px;
}
.leading17{
    line-height: 17px;
}
.leading20{
    line-height: 20px;
}
.leading24{
    line-height: 24px;
}
.leading25{
    line-height: 25px;
}
.leading26{
    line-height: 26px;
}
.leading28{
    line-height: 28px;
}
.leading48{
    line-height: 48px;
}
.leading30{
    line-height: 30px;
}
.leading32{
    line-height: 32px;
}
.leading33{
    line-height: 33px;
}
.leading36{
    line-height: 36px;
}
.leading39{
    line-height: 39px;
}
.leading40{
    line-height: 40px;
}
.leading60{
    line-height: 60px;
}
.leading63{
    line-height: 63px;
}
.leading96{
    line-height: 96px;
}
.leading72{
    line-height: 72px;
}
.leading100{
    line-height:  100px;
}


.space1_2{
    letter-spacing:  1.2px;
}
    
.space0_35 {
    letter-spacing: 0.35px;
}
.space0_9 {
    letter-spacing:  0.9px;
}
.space1 {
    letter-spacing:  1px;
}
.space1_4 {
    letter-spacing: 1.4px;
}
.space2 {
    letter-spacing: 2px;
}
.space2_2 { 
    letter-spacing: 2.2px;
}
.space2_4 {
    letter-spacing: 2.4px;
}
.space3 {
   letter-spacing: 3px;
}
.space3_5 {
    letter-spacing: 3.5px;
}
.space3_6 {
    letter-spacing: 3.6px;
}
.space4 {
    letter-spacing: 4px;
}
.space4_4 {
    letter-spacing: 4.4px;
}
.space4_8 {
    letter-spacing:  4.8px;
}
.space5_5 {
    letter-spacing: 5.5px;
}


.opacity10 {
    opacity: $opacity10;
}
.opacity8{
    opacity : $opacity8;
}
.opacity5 {
    opacity: $opacity5;
}
.opacity19 {
    opacity: $opacity19;
}