// ======= Background Color ======
.bg-B7824E {
    background-color: $color-B7824E;
}
.bg-FFFAF2 {
    background-color: $color-FFFAF2;
}
.bg-212121 {
    background-color: $color-212121;
}
.bg-A8784A {
    background-color: $color-A8784A;
}
.bg-111111 {
    background-color: $color-111111;
}
.bg-4B5563 {
    background-color: $color-4B5563;
}
.bg-6B7280 {
    background-color: $color-6B7280;
}
.bg-9CA3AF {
    background-color: $color-9CA3AF;
}

// ======= Color ======

.text-B7824E {
    color: $color-B7824E;
}
.text-FFFAF2 {
    color: $color-FFFAF2;
}
.text-212121 {
    color: $color-212121;
}
.text-A8784A {
    color: $color-A8784A;
}
.text-111111 {
    color: $color-111111;
}
.text-4B5563 {
    color: $color-4B5563;
}
.text-6B7280 {
    color: $color-6B7280;
}
.text-9CA3AF {
    color: $color-9CA3AF;
}

// ======= Font Size ======

.font9 {
    font-size: $font9;
}
.font10 {
    font-size: $font10;
}
.font11 {
    font-size: $font11;
}
.font12 {
    font-size: $font12;
}
.font14 {
    font-size: $font14;
}
.font16 {
    font-size: $font16;
}
.font18 {
    font-size: $font18;
}
.font20 {
    font-size: $font20;
}
.font24 {
    font-size: $font24;
}
.font27 {
    font-size: $font27;
}
.font30 {
    font-size: $font30;
}
.font36 {
    font-size: $font36;
}
.font48 {
    font-size: $font48;
}
.font60 {
    font-size: $font60;
}
.font65 {
    font-size: $font65;
}
.font72 {
    font-size: $font72;
}
.font96 {
    font-size: $font96;
}
.font100 {
    font-size: $font100;
}

// ====== Line Height ======

.leading15 {
    line-height: $leading15;
}
.leading16 {
    line-height: $leading16;
}
.leading17 {
    line-height: $leading16;
}
.leading20 {
    line-height: $leading20;
}
.leading24 {
    line-height: $leading24;
}
.leading25 {
    line-height: $leading25;
}
.leading26 {
    line-height: $leading26;
}
.leading28 {
    line-height: $leading28;
}
.leading30 {
    line-height: $leading30;
}
.leading32 {
    line-height: $leading32;
}
.leading33 {
    line-height: $leading33;
}
.leading36 {
    line-height: $leading36;
}
.leading39 {
    line-height: $leading39;
}
.leading40 {
    line-height: $leading40;
}
.leading48 {
    line-height: $leading48;
}
.leading60 {
    line-height: $leading60;
}
.leading63 {
    line-height: $leading63;
}
.leading96 {
    line-height: $leading96;
}
.leading72 {
    line-height: $leading72;
}
.leading100 {
    line-height: $leading100;
}

// ====== Letter Spacing ======
.space1_2 {
    letter-spacing: $space1_2;
}
.space0_35 {
    letter-spacing: $space0_35;
}
.space0_9 {
    letter-spacing: $space0_9;
}
.space1 {
    letter-spacing: $space1;
}
.space1_4 {
    letter-spacing: $space1_4;
}
.space2 {
    letter-spacing: $space2;
}
.space2_2 {
    letter-spacing: $space2_2;
}
.space2_4 {
    letter-spacing: $space2_4;
}
.space3 {
    letter-spacing: $space3;
}
.space3_5 {
    letter-spacing: $space3_5;
}
.space3_6 {
    letter-spacing: $space3_6;
}
.space4 {
    letter-spacing: $space4;
}
.space4_4 {
    letter-spacing: $space4_4;
}
.space4_8 {
    letter-spacing: $space4_8;
}
.space5_5 {
    letter-spacing: $space5_5;
}

// ====== Opacity ======

.opacity5 {
    opacity: $opacity5;
}
.opacity8 {
    opacity: $opacity8;
}
.opacity10 {
    opacity: $opacity10;
}
.opacity19 {
    opacity: $opacity19;
}
.opacity60 {
    opacity: $opacity60;
}
.opacity40 {
    opacity : $opacity40;
}
.opacity20 {
    opacity : $opacity20;
}
.opacity30 {
    opacity : $opacity30;
}