/*******************************************************************************
******************************* COLOUR VARIABLES *******************************
*******************************************************************************/
$color-B7824E: #B7824E;
$color-FFFAF2: #FFFAF2;
$color-212121: #212121;
$color-A8784A: #A8784A;
$color-111111: #111111;
$color-4B5563: #4B5563;
$color-6B7280: #6B7280;
$color-9CA3AF: #9CA3AF;
$color-F6F3F3: #F6F3F3;

/*******************************************************************************
******************************* FONTS VARIABLES *******************************
*******************************************************************************/
$font9: 9px;
$font10: 10px;
$font11: 11px;
$font12: 12px;
$font14: 14px;
$font15: 15px;
$font16: 16px;
$font18: 18px;
$font20: 20px;
$font24: 24px;
$font27: 27px;
$font30: 30px;
$font36: 36px;
$font48: 48px;
$font60: 60px;
$font65: 65px;
$font72: 72px;
$font96: 96px;
$font100: 100px;

/*******************************************************************************
******************************* LINE HEIGHT *******************************
*******************************************************************************/
$leading15: 15px;
$leading16: 16px;
$leading17: 17px;
$leading20: 20px;
$leading24: 24px;
$leading25: 25px;
$leading26: 26px;
$leading28: 28px;
$leading30: 30px;
$leading32: 32px;
$leading33: 33px;
$leading36: 36px;
$leading39: 39px;
$leading40: 40px;
$leading48: 48px;
$leading60: 60px;
$leading63: 63px;
$leading96: 96px;
$leading72: 72px;
$leading100: 100px;



/*******************************************************************************
******************************* LETTER SPACING *******************************
*******************************************************************************/
$space1_2: 1.2px;
$space0_35 :0.35px;
$space0_9 : 0.9px;
$space1 : 1px;
$space1_4 :1.4px;
$space2 :2px;
$space2_2 :2.2px;
$space2_4 :2.4px;
$space3 :3px;
$space3_3 :3.3px;
$space3_5 :3.5px;
$space3_6 :3.6px;
$space4 :4px;
$space4_4 :4.4px;
$space4_8 :4.8px;
$space5_5 :5.5px;

/*******************************************************************************
******************************* OPACITY *******************************
*******************************************************************************/

$opacity5 : 5%;
$opacity8 : 8%;
$opacity10 : 10%;
$opacity19 : 19%;
$opacity20 : 20%;
$opacity60 : 60%;
$opacity40 : 40%;
$opacity30 : 30%;
$opacity70 : 70%;
$opacity80 : 80%;

/*******************************************************************************
******************************* BORDER RADIUS *******************************
*******************************************************************************/

$radius3 : 3px;
$radius5 : 5px;
$radius10 : 10px;
$radius12 : 12px;


/*******************************************************************************
******************************* ANIMATION VARIABLES ****************************
*******************************************************************************/
@mixin generate-transition($name, $duration, $type) {
  -webkit-transition: $name $duration $type;
  /* Safari 4+ */
  -moz-transition: $name $duration $type;
  /* Fx 5+ */
  -o-transition: $name $duration $type;
  /* Opera 12+ */
  transition: $name $duration $type;
  /* IE 10+, Fx 29+ */
}

@mixin generate-animation-delay($seconds) {
  -webkit-animation-delay: $seconds;
  /* Safari 4+ */
  -moz-animation-delay: $seconds;
  /* Fx 5+ */
  -o-animation-delay: $seconds;
  /* Opera 12+ */
  animation-delay: $seconds;
  /* IE 10+, Fx 29+ */
}

@mixin generate-placeholder($color, $fontsize) {
  &::-webkit-input-placeholder {
    color: $color;
    font-size: $fontsize;
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    color: $color;
    font-size: $fontsize;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $color;
    font-size: $fontsize;
  }

  &:-ms-input-placeholder {
    color: $color;
    font-size: $fontsize;
  }
}

@mixin generate-scale-transition() {
  -webkit-transform: scale(1.1);
  /* Safari and Chrome */
  -moz-transform: scale(1.1);
  /* Firefox */
  -ms-transform: scale(1.1);
  /* IE 9 */
  -o-transform: scale(1.1);
  /* Opera */
  transform: scale(1.1);
}

@mixin generate-transform($transform) {
  -webkit-transform: $transform;
  /* Safari and Chrome */
  -moz-transform: $transform;
  /* Firefox */
  -ms-transform: $transform;
  /* IE 9 */
  -o-transform: $transform;
  /* Opera */
  transform: $transform;
}

@mixin generate-filter($filter) {
  -webkit-filter: $filter;
  filter: $filter;
  -moz-filter: $filter;
  -o-filter: $filter;
}

$enable-negative-margins: true;