button,
[type=button],
[type=reset],
[type=submit] {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
}

.btnA {
    height: 48px;
    padding-left: 40px;
    padding-right: 40px;
    transition: all 0.3s ease-in-out;

    &.bg-B7824E-btn {
        background-color: $color-B7824E;
        border: 1px solid $color-B7824E;
        color: $white;

        &:hover {
            background-color: $color-FFFAF2;
            color: $color-B7824E;
            border: 1px solid  $color-B7824E;
        }
    }

    &.bg-FFFAF2-btn{
        background-color: $color-FFFAF2;
        border: 1px solid $color-FFFAF2;
        color: $color-212121;

        &:hover{
            background-color: transparent;
            border: 1px solid $color-FFFAF2;
            color:  $color-B7824E;
        }
    }

}











