.card-hover {
    .img {
        transform: scale(1);
        transition: 0.3s all ease-in-out;
    }

    &:hover {
        .img {
            transform: scale(1.1);
        }
    }
}

.diffrence-cards {
    .diffrence-card {
        padding: 32px 27px;
        height: 318px;
        .diff-circle {
            width: 64px;
            height: 64px;
            background: rgba($color: $color-B7824E, $alpha: 0.08);
            img {
                height: 24px;
            }
        }
    }
}

.collection-cards {
    .collection-card {
        box-shadow: 0px 1px 2px 0px #0000000d;
        height: 472px;
        .card-img {
            height: 250px;
        }
        .card-content-wrapper {
            padding: 32px 30px;
            .location-icon {
                margin-right: 10px;
                img {
                    height: 15px;
                }
            }
        }
    }
}

.value-cards {
    .value-card {
        .card-icon {
            height: 27px;
        }
    }
}

.service-card {
    padding: 37px 30px 24px 30px;
    .btnA {
        &:hover {
            background-color: white !important;
        }
    }
}

.blog-card {
    .blog-img {
        height: 430px;
         @include media-breakpoint-down(lg){
            height: 363px;
         }
    }
}

.client-review-slider {
    .client-review-card {
        padding-left: 40px;
        padding-right: 40px;
        height: 232px;
        @include media-breakpoint-down(lg){
            height: 288px;
            padding-left: 24px;
            padding-right: 24px;
        }
        .client-avatar {
            width: 48px;
            height: 48px;
        }
    }
}
.partner-cards-wrapper {
    row-gap: 30px;
    .partner-card {
        padding-left: 40px;
        padding-right: 40px;
        height: 246px;
        background: rgba($color: $color-212121, $alpha: 0.08);
        box-shadow: 0px 1px 2px 0px #0000000d;
        @include media-breakpoint-down(lg){
            height: 241px;
            padding-left: 25px;
            padding-right: 25px;
        }
    }
}