.card-hover {
    .img {
        transform: scale(1);
        transition: 0.3s all ease-in-out;
    }

    &:hover {
        .img {
            transform: scale(1.1);
        }
    }
}

.diffrence-cards {
    .diffrence-card {
        padding: 32px 27px;
        height: 318px;
        .diff-circle {
            width: 64px;
            height: 64px;
            background: rgba($color: $color-B7824E, $alpha: 0.08);
            img {
                height: 24px;
            }
        }
    }
}

.collection-cards {
    .collection-card {
        box-shadow: 0px 1px 2px 0px #0000000D;
        height: 472px;
        .card-img {
            height: 250px;
        }
        .card-content-wrapper {
            padding: 32px 30px;
            .location-icon {
                margin-right: 10px;
                img {
                    height: 15px;
                }
            }
        }
    }
}

.value-cards{
    .value-card{
        .card-icon{
            height: 27px;
        }
    }
}

.service-card{
    padding: 37px 30px 24px 30px;
    .btnA{
        &:hover{
            background-color: white !important;
        }
    }
}
.client-review-slider{
    .client-review-card{
        padding: 40px;
        .client-avatar{
            width: 48px;
            height: 48px;
        }
    }
}