.testimonial-slider-section {
    .testimonial-slider {
        .slick-list {
            margin-left: -24px;
            margin-right: -24px;

            .slick-slide {
                padding-left: 24px;
                padding-right: 24px;
            }
        }
    }
    .slick-arrows {
        z-index: 5 !important;
        .prev-arrow {
            margin-left: -60px;
        }
        .next-arrow {
            margin-right: -60px;
        }
    }
}

.service-section {
    .service-slider {
        .slick-list {
            margin-left: -15px;
            margin-right: -15px;

            .slick-slide {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
    .slick-arrows {
        transform: translateY(50%);
        z-index: 5 !important;
        .prev-arrow {
            filter: invert(1);
            margin-left: -90px;
            
        }
        .next-arrow {
            filter: invert(1);
            margin-right: -90px;
        }
    }
}

.client-review-section {
    .client-review-slider {
        .slick-list {
            margin-left: -24px;
            margin-right: -24px;

            .slick-slide {
                padding-left: 24px;
                padding-right: 24px;
            }
        }
    }
   
}
