.left-right-section{
    .left-side-img{
        height: 750px;

        @include media-breakpoint-down(lg){
            height:345px;
        }
    }
}
.value-card-section{
    .value-card-wrapper{
        gap: 32px 0px;
    }
}

.banner-btns-section{
    .banner-img{
        height: 402px;
    }
}