.left-right-section{
    .left-side-img{
        height: 750px;

        @include media-breakpoint-down(lg){
            height:345px;
        }
    }
}
.banner-btns-section{
    .banner-img{
        height: 402px;
    }
}