.blog-left-right-section{
    .blog-left-right-card{
        box-shadow: 
        0px 8px 10px -6px rgba($color: $color-212121, $alpha: 0.05),
        0px 20px 25px -5px rgba($color: $color-212121, $alpha: 0.05);
        }
    .left-blog-img{
        height: 640px;
    }
    .blog-icon{
        height: 28px;
    }
}

