.hero-section {
    .hero-img {
        height: 812px;
        padding-left: 73px;
        @include media-breakpoint-down(lg){
            padding-left: 0px;
            height: 400px;
        }
    }
}
.portfolio-collection-section {
    .view-all-btn {
        border-bottom: 1.5px solid;
    }
}
.guest-journy-section {
    .journey-img {
        padding-left: 84px;
        height: 877px;
        @include media-breakpoint-down(lg){
            height: 375px;
            padding-left: 0px;
        }
    }
    .jouney-content-wrapper {
        .jouney-content {
            gap: 32px;
            @include media-breakpoint-down(lg){
                gap: 16px;
            }
        }
    }
}
.banner-section {
    .banner-img {
        height: 600px;
        @include media-breakpoint-down(lg){
            height: 450px;
        }
    }
}
