.enquiry-form{
    .enqury-border{
        border-bottom: 1px solid $color-F3F4F6;
    }
}
.service-include-section{
    .service-icon{
        height: 44px;
    }
    .service-include-wrapper{
          @include media-breakpoint-up(lg) {
        &:nth-of-type(-n + 2) {
            margin-top: 0px !important;
        }
    }
    @include media-breakpoint-down(lg) {
        &:first-child {
            margin-top: 0px !important;
        }
    }
    }
}